body{
  color: black;
  font-family: 'Andika', sans-serif;
  font-size: 16px;
  margin: 1.2em;
  background-size: cover ;
  background-position: center;
  background-image: url(../images/pigeon-background.jpeg);
  background-size: 100%;
}
main{
  margin-bottom: 100px;
}
h1{
  color: #8000FF;
  font-size: 2em;
  line-height: 1.5;
  text-align: center;
}
caption{
  margin:5px 0px;
}
p{
  padding-top: 10px;
}
a{
  font-size: 16px;
  color: #B21F50;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
a:focus {
  border: 2px solid black;
}
table{
  border: 2px solid black;
  /* border-collapse shows how to TREAT the cells, treat them separately */
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
thead tr:first-child th:first-child{
  border-top-left-radius: 15px;
}
thead tr:first-child th:last-child{
  border-top-right-radius: 15px;
}
/* this is a header too, so must use th not td */
tbody tr:last-child th:first-child{
  border-bottom-left-radius: 15px;
}
tbody tr:last-child td:last-child{
  border-bottom-right-radius: 15px;
}
td, th{
  border-collapse: collapse;
  border-top: 2px solid black;
  padding: 15px;
  text-align: center;
}
th.colhead{
  background-color: #7e0820;
  color: white;
  text-align: center;
  text-transform: uppercase;
  min-width: 100px;
  padding: 10px;
}
/* why need to reiderate? */
.rowhead{
  border-top: 2px solid black;
}
/* alternating grey row */
tr:nth-child(odd) {
  background-color: #D1D1D1;
}
/* how make transparent even */
tr:nth-child(even) {
  background-color:rgba(0, 0, 0, 0);
}
/* how make backfournd column highlighted when hover row */
tr:hover {
  background-color:rgb(126,8,32,0.5);
  transition:.5s ease;
}
*{}
footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  background:black;
  text-align:center;
  color: white;
  min-height: 60px;
}
